body {
    background-color: rgb(43, 170, 128);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
h1 {
  color: rgb(219, 193, 64);
}

button{
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 8px;
    background-color: darkcyan;
    color: rgb(200, 175, 50);
    border-radius: 10%;
}